body{
    /* background-image: url(../img/img_psySP.jpg); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
h1{
    color:#708090;
    font-size: 20px;
}

ul{
    border: 5px solid blue;
    width: 250px;
    padding: 10px;
    list-style-image: url(../img/psy1.gif);/*リストマーカーの種類変えられる noneで消える！*/
    list-style-position: inside;
}

li{
    border-bottom: 1px dotted black;
    background-color: yellow;
}

.sample{
    background-color: bisque;
    display: block; /*インライン要素→ブロック要素へ */
}


h2{
    color:#708090;
    font-size: 20px;
}

.container{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;/* 横 */
    height: 300px;
    align-content: space-around;
}

.item{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px;
}